/Practica1/nbproject/private/
/Practica1/build/
/ipc-9-12-19/nbproject/private/
/ht1/nbproject/private/
/ht1/build/
/Proyecto1/nbproject/private/
/Proyecto1/build/
/Practica1/dist/
/18_12/nbproject/private/
/18_12/build/
/Proyecto1/dist/